<h1><%= @conversation.title %></h1>

<p>Date Conversation began: <%= @conversation.start_date.strftime("%d/%m/%Y") %></p>

<%= link_to "Add a Message",  new_conversation_message_path(@conversation.id) %>

<% if @conversation.messages.count > 0 %>
  <h2>Messages from this Conversation</h2>

  <ul>
    <% @conversation.messages.each do |message| %>
      <li id="message-<%= message.id %>"><%= message.text %> (<%= message.date_time_sent.strftime("%I:%M %p") %>) <%= link_to 'Add a Thought', "/conversations/#{@conversation.id}/messages/#{message.id}/thoughts/new" %></li>
      <% if message.thoughts.count > 0 %>
        <ul>
          <% message.thoughts.each do |thought| %>
            <li><%= thought.text %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no messages in this conversation.</p>
<% end %>
